.button {
  display: inline-block;
  border: none;
  font-size: 16px;
  color: #C9D6DF;
  padding: 8px 16px;
  background-color: #512da8;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #673ab7;
  }

  &_orange input[type="submit"] {
    color: #fff;
    font-size: 18px;
    background: #ff8000;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;
  }

  &_orange:hover [type="submit"]:hover {
    background: #AA5500;
  }
}