

//Media 
$layout-breakpoint-exexlarge: 1400px;
$layout-breakpoint-exlarge: 1200px;
$layout-breakpoint-large: 992px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-small: 576px;
$layout-breakpoint-xsmall: 320px;

$none: none;